doctype html
html
    head
        meta(charset='UTF-8')
        link(rel='stylesheet' type='text/css' href='css/main.css')
        title Error
        link(rel='icon' type='image/x-icon' href='media/favicons/x.png')
    body 
        p Error